@{
    ViewBag.Title = "AlunoHorario";
}

<div class="barra-topo-header">
    <h2>Gráficos</h2>
</div>

<div class="conteudo-central">
    <div class="conteudo-central-2">
        <div class="conteudo-central-2-titulo">
            <h5>Gráfico Aluno por Horário</h5>
            <div class="content-right">
                <input type="button" class="btn-small" onclick="location.href='@Url.Content("~/Grafico/AlunoDias")'" value="Gráfico Alunos por Dias" />
                <input type="button" class="btn-small" onclick="location.href='@Url.Content("~/Grafico/AlunoCidade")'" value="Gráfico Alunos por Cidade" />
            </div>
        </div>
        <div class="conteudo-central-2-conteudo">
            
            <div id="chart_div"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    @Scripts.Render("~/bundles/Grafico/AlunoHorario")
}